[submodule "pikp"]
	path = pikp
	url = ./pikp
[submodule "st"]
	path = st
	url = ./st
[submodule "tva"]
	path = tva
	url = ./tva
[submodule "iis"]
	path = iis
	url = ./iis
[submodule "ia"]
	path = ia
	url = https://github.com/sustertine/ia
    branch = develop
